@page "/privacy"

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Last Updated: 28/07/2023</p>
                <h2 class="fw-bold">Privacy Policy for Pic2Postcard</h2>
            </div>
        </div>
        <h2>1. Introduction</h2>
        <p>Welcome to Pic2Postcard by codeglitch.com. We respect your privacy and are committed to protecting any personal data we might collect.</p>
        <h2>2. What Data We Collect</h2>
        <p>Given the nature of our app, we do not collect any personal data from our users.</p>
        <h2>3. How We Use Data</h2>
        <p>As we do not collect personal data, there's no utilization of such data.</p>
        <h2>4. Cookies</h2>
        <p>Pic2Postcard does not use cookies.</p>
        <h2>5. Data Sharing &amp; Third Parties</h2>
        <p>We do not share data with third parties since no data is collected.</p>
        <h2>6. Your Rights</h2>
        <p>Although we do not collect data, users have the right to:<br>&nbsp;&nbsp;Know if any of their personal data is being collected.<br>&nbsp;&nbsp;Access any of their personal data that might have been collected.<br>&nbsp;&nbsp;Request rectification if the data is inaccurate.<br>&nbsp;&nbsp;Request deletion of their data.</p>
        <h2>7. Data Security</h2>
        <p>While we don't collect personal data, we ensure that our app has the necessary security measures to prevent potential breaches.</p>
        <h2>8. Changes to the Privacy Policy</h2>
        <p>Any changes to this privacy policy will be updated on this page.</p>
        <h2>9. Contact Us</h2>
        <p>For questions related to this privacy policy or any concerns, reach out to us at Pic2Postcard@codeglitch.com.</p>
    </div>
</section>