@page "/terms"

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Last Updated: 28/07/2023</p>
                <h2 class="fw-bold">Terms of Service for Pic2Postcard</h2>
            </div>
        </div>
        <h2>1. Introduction</h2>
        <p>Welcome to Pic2Postcard, a product of codeglitch.com ("we", "our", or "us"). Our app allows you to make your own postcards for free and share your memories.&nbsp;By using the Pic2Postcard app, you agree to these Terms of Service and any future amendments.</p>
        <h2>2. User Registration</h2>
        <p>Pic2Postcard does not require user registration, and as such, we do not collect or store any personal data.</p>
        <h2>3. Usage Guidelines</h2>
        <p>While we do not have specific behaviours or actions that are prohibited in the app, we ask all users to use Pic2Postcard responsibly and respectfully. There are no age restrictions for using our app.</p>
        <h2>4. Payments</h2>
        <p>Pic2Postcard is a free app, and there are no in-app purchases or subscription fees.</p>
        <h2>5. Third-party Services</h2>
        <p>Our app does not integrate with third-party services, and no data is shared or accessed.</p>
        <h2>6. Intellectual Property</h2>
        <p>Users are allowed to post or upload content to Pic2Postcard, but all data remains on the client side. We do not store or retain rights to any user content.</p>
        <h2>7. Termination Policy</h2>
        <p>Since there are no user accounts, there is no termination policy applicable.</p>
        <h2>8. Dispute Resolution</h2>
        <p>While we don't foresee disputes arising from the use of our app, any concerns or feedback can be addressed to us directly.</p>
        <h2>9. Limitation of Liability</h2>
        <p>Use the Pic2Postcard app at your own risk. codeglitch.com and its associates will not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use of Pic2Postcard.</p>
        <h2>10. Changes to the Terms</h2>
        <p>We reserve the right to modify these terms at any time. Any changes will be updated on the terms page. It's your responsibility to review these terms periodically.</p>
        <h2>11. Contact</h2>
        <p>For any queries or concerns related to Pic2Postcard, please reach out to us at Pic2Postcard@codeglitch.com.</p>
    </div>
</section>